---
import Common from '@/layouts/common.astro';
import { getAlbums } from '@/lib/content';
import { defaultLocale, getTranslations } from '@/lib/utils/i18n';
import { getLink } from '@/lib/utils/navigation';
import { format } from 'date-fns';
import ImageCard from '../cards/image-card.astro';

const {
  props: { locale = defaultLocale },
} = Astro;

const t = await getTranslations(locale, 'albums');
const albums = await getAlbums();
---

<Common title={t.title}>
  <h1>{t.title}</h1>
  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    {albums.map(async (album) => {
      const link = await getLink({ locale, slug: album?.slug.current, tag: 'albums' });
      const releaseYear = album?.releaseDate ? format(album?.releaseDate, 'yyyy') : '';
      return (
        <li>
          <a href={link}>
            <ImageCard image={album?.cover} title={album?.title} subtitle={releaseYear} />
          </a>
        </li>
      )
    })}
  </ul>
</Common>