---
import BackButton from '@/components/interactive/back-button.svelte';
import Common from '@/layouts/common.astro';
import { getArticlesWithoutSlug, getSingleArticle } from '@/lib/content';
import { defaultLocale, getTranslations } from '@/lib/utils/i18n';
import { getLink } from '@/lib/utils/navigation';
import { format } from 'date-fns';
import PortableTextImage from '../portable-text-image.astro';
import PortableText from '../portable-text.astro';

const {
  props: { locale = defaultLocale, slug },
} = Astro;

const article = await getSingleArticle({ slug: slug });
const t = await getTranslations(locale, 'blog');
const backLink = await getLink({
  locale,
  tag: 'blog',
});
const lastArticles = await getArticlesWithoutSlug(slug, 3);
---

<Common title={article?.title}>
  <BackButton client:load href={backLink}>{t.back}</BackButton>
  <h1>{article?.title}</h1>
  <PortableTextImage node={article?.cover} imgClass="pointer-events-none max-h-[300px] lg:max-h-[500px] opacity-50 w-full object-cover rounded-2xl " />
  {article?.publishedAt && <p class="text-sm -mt-4 mb-6 text-foreground-darken">{format(article?.publishedAt, 'dd.MM.yyyy')}</p>}

  <PortableText portableText={article?.text} />

  <h3 class="mt-16 mb-4">Ostatnie artykuły</h3>
  <ul class="text-foreground-darken">
    {lastArticles.map(async (article) => {
      return (
        <li>
          <a
            href={await getLink({
              locale,
              tag: 'blog',
              slug: article?.slug.current,
            })}
          >
            {article?.title}
          </a>
        </li>
      );
    })}
  </ul>
</Common>