---
import Card from '@/components/interactive/card.svelte';
import Common from '@/layouts/common.astro';
import { getArticlesWithoutSlug } from '@/lib/content';
import {
  getArticles,
  getLatestArticle,
  getSingleArticle,
} from '@/lib/content/get-articles';
import { defaultLocale, getTranslations } from '@/lib/utils/i18n';
import { getLink } from '@/lib/utils/navigation';
import { format } from 'date-fns';

const {
  props: { locale = defaultLocale },
} = Astro;

const lastArticle = await getLatestArticle();
const lastArticleLink = await getLink({
  locale,
  tag: 'blog',
  slug: lastArticle?.slug.current,
});

const articles = await getArticlesWithoutSlug(lastArticle?.slug.current || '');
const t = await getTranslations(locale, 'blog');
---

<Common title={t.title}>
  <h1>{t.title}</h1>
  <h3 class="mb-8">Ostatni wpis</h3>
  <div class="max-md:-mx-4">
    {lastArticle && (
      <Card
        client:visible
        title={lastArticle.title}
        description={format(lastArticle.publishedAt, 'dd.MM.yyyy')}
        href={lastArticleLink}
      />
    )}
  </div>
  <h3 class='my-8'>Archiwum wpisów</h3>
  <ul class="mt-4 grid md:grid-cols-2 gap-8 max-md:-mx-4">
    {articles.map(async (article) => {
      if (!article) return null;
      const link = await getLink({
        locale,
        tag: 'blog',
        slug: article.slug.current,
      });
      return (
        <li>
          <Card
            client:visible
            title={article.title}
            description={format(article.publishedAt, 'dd.MM.yyyy')}
            href={link}
          />
        </li>
      )
    })}
  </ul>
</Common>