---
import Doc from '@/components/interactive/doc.svelte';
import Common from '@/layouts/common.astro';
import { getDocs } from '@/lib/content/get-docs';
import { defaultLocale, getTranslations } from '@/lib/utils/i18n';

const {
  props: { locale = defaultLocale },
} = Astro;

const t = await getTranslations(locale, 'docs');
const docs = await getDocs();

const labels = {
  additionalInfo: t.title,
  concertOffer: t.concertOffer,
  hospitalityRider: t.hospitalityRider,
  pressKit: t.pressKit,
  stagePlot: t.stagePlot,
  techRider: t.techRider,
};
---

<Common title={t.title}>
  <h1>{t.title}</h1>
  <p class="mb-8">{t.description}</p>
  {docs.map((doc) => <Doc client:load doc={doc} labels={labels} />)}
</Common>
