---
import BackButton from '@/components/interactive/back-button.svelte';
import Common from '@/layouts/common.astro';
import { getGig } from '@/lib/content/get-gig';
import { defaultLocale, getTranslations } from '@/lib/utils/i18n';
import { getLink } from '@/lib/utils/navigation';
import Card from '../card.astro';
import PortableTextImage from '../portable-text-image.astro';
import PortableText from '../portable-text.astro';

const {
  props: { locale = defaultLocale, slug },
} = Astro;

const gig = await getGig({ slug: slug });
const t = await getTranslations(locale, 'gigs');
const backLink = await getLink({
  locale,
  tag: 'gigs',
});

type GigMeta = {
  label: string;
  value?: string;
};

const gigMeta: GigMeta[] = [
  { label: 'Miasto', value: `${gig?.city}, ${gig?.country}` },
  { label: 'Data', value: gig?.date },
  { label: 'Inne zespoły', value: gig?.otherBands?.join(', ') },
].filter((meta) => !!meta.value);
---

<Common title={gig?.city}>
  <BackButton client:load href={backLink}>{t.back}</BackButton>
  <h2>{gig?.city}</h2>
  <h3>{gig?.date}</h3>
  {gig?.image &&
    <PortableTextImage node={gig?.image} imgClass="object-cover w-full rounded-xl mb-8 max-h-[300px] md:max-h-[400px] opacity-40 hover:opacity-70 duration-300 ease-in-out" />
  }
  <div class="max-md:-mx-4">
    <Card classname='w-full mb-8'>
      <div class="grid max-md:gap-4">
        {gigMeta.map((meta) => (
          <div class="group grid sm:grid-cols-2 md:grid-cols-3 gap-0 select-none">
            <div>{meta.label}</div>
            <div class="text-foreground/50 duration-300 group-hover:text-foreground ease-in-out md:col-span-2">{meta.value}</div>
          </div>
        ))}
      </div>
    </Card>
  </div>
  {gig?.about &&
    <article class="prose prose-stone prose-invert">
      <PortableText portableText={gig?.about}/>
    </article>
  }
</Common>