---
import Common from '@/layouts/common.astro';
import { getTrack } from '@/lib/content';
import { defaultLocale, getTranslations } from '@/lib/utils/i18n';
import { getLink } from '@/lib/utils/navigation';

const {
  props: { locale = defaultLocale, slug },
} = Astro;

const track = await getTrack({ slug: slug });
const t = await getTranslations(locale, 'track');
const backLink = await getLink({ locale, tag: 'albums' });
---

<Common title={track.title}>
  <a href={backLink}>{t.back}</a>
  <h1>{track.title}</h1>
  <p>{t.from}{track.album.title}</p>
</Common>